@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --card_bg: #F6F6F6;
  --primary: #CF0303;
  --text_pr: #151E2C;
  --text_sc: #9D9D9D;
  --error: #CB3762;
}



* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: clamp(0.95rem, 0.35rem + 1vw, 1.1rem);
    font-family: 'Montserrat', sans-serif;

}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}